In [1]:
'''
Coding: PYTHON UTF-8
Created On: 2023-07-09 18:51:50
Author: Putu Hendra Widyadharma
=== compare .res before relocation and after relocation to have same event pairs
'''

'\nCoding: PYTHON UTF-8\nCreated On: 2023-07-09 18:51:50\nAuthor: Putu Hendra Widyadharma\n=== compare .res before relocation and after relocation to have same event pairs\n'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from localfunction import *
from pathlib import Path
from tqdm import tqdm

In [3]:
path = "D:\\BMKG Files\\IUGG Seminar\\data\\data_poster\\reloc_ttdistfilter\\tes-250\\"
res_before_fname = "hypoDD_before.res"
res_after_fname = "hypoDD.res"

In [4]:
def data(fname):
	try:
		file = open(path+fname,'r')
		baris = file.readlines()
		for i in range(len(baris)):
			baris[i]=baris[i].split()
		file.close()


		df = pd.DataFrame(baris, columns = baris[0])
		df.drop(0, inplace = True)
		df.reset_index(drop = True, inplace=True)

		# df = df[df['C1'] == df['C2']]
		df = df[df['RES'] != '************']
		df['RES'] = pd.to_numeric(df['RES'])
		df['RES'] = df['RES'].div(1000)

		#df = df[df['RES'] < 15]
		print("read file success")
		return (df)
	except:
		print("file could not be loaded, return zero dataframe")
		return(pd.DataFrame([]))

In [5]:
print("==read before")
df1 = data(res_before_fname) # df to be compared
print("==read after")
df2 = data(res_after_fname)

df_result = pd.DataFrame(columns=df1.columns)
print("== dataframe output created")

==read before
read file success
==read after
read file success
== dataframe output created

In [6]:
# compare
for i, row1 in df1.iterrows():
    df2_iter = df2[df2['C1'] == row1['C1']]
    # for j, row2 in tqdm(df2_iter.iterrows(), total=df2_iter.shape[0], desc=f"search row {i}:"):
    for j, row2 in df2_iter.iterrows():
        if ((row1['STA'] == row2['STA']) and 
            (row1['C1'] == row2['C1']) and 
            (row1['C2'] == row2['C2']) and
            (row1['IDX'] == row2['IDX'])):
            print(f"df1 row number {i} found")
            df_result = pd.concat([df_result,row1.to_frame().T],ignore_index=True)
            break
        else:
            pass

df1 row number 0 found
df1 row number 1 found
df1 row number 2 found
df1 row number 4 found
df1 row number 5 found
df1 row number 6 found
df1 row number 7 found
df1 row number 8 found
df1 row number 9 found
df1 row number 10 found
df1 row number 11 found
df1 row number 2078 found
df1 row number 2079 found
df1 row number 2081 found
df1 row number 2082 found
df1 row number 2083 found
df1 row number 2084 found
df1 row number 2085 found
df1 row number 2086 found
df1 row number 2087 found
df1 row number 2088 found
df1 row number 2089 found
df1 row number 2090 found
df1 row number 2092 found
df1 row number 2093 found
df1 row number 2094 found
df1 row number 2095 found
df1 row number 2096 found
df1 row number 2097 found
df1 row number 2098 found
df1 row number 2099 found
df1 row number 2100 found
df1 row number 2101 found
df1 row number 2104 found
df1 row number 2105 found
df1 row number 2106 found
df1 row number 2107 found
df1 row number 2108 found
df1 row number 2109 found
df1 row number 2110 found
df1 row number 2112 found
df1 row number 2113 found
df1 row number 2114 found
df1 row number 2115 found
df1 row number 2116 found
df1 row number 2117 found
df1 row number 2118 found
df1 row number 2119 found
df1 row number 2120 found
df1 row number 2123 found
df1 row number 2124 found
df1 row number 2125 found
df1 row number 2126 found
df1 row number 2127 found
df1 row number 2128 found
df1 row number 2129 found
df1 row number 2130 found
df1 row number 2131 found
df1 row number 2132 found
df1 row number 2134 found
df1 row number 2135 found
df1 row number 2137 found
df1 row number 2138 found
df1 row number 2139 found
df1 row number 2140 found
df1 row number 2141 found
df1 row number 2143 found
df1 row number 2144 found
df1 row number 2145 found
df1 row number 2146 found
df1 row number 2147 found
df1 row number 2148 found
df1 row number 2150 found
df1 row number 2151 found
df1 row number 2152 found
df1 row number 2154 found
df1 row number 2155 found
df1 row number 2156 found
df1 row number 2157 found
df1 row number 2158 found
df1 row number 2159 found
df1 row number 2160 found
df1 row number 2162 found
df1 row number 2163 found
df1 row number 2164 found
df1 row number 2165 found
df1 row number 2166 found
df1 row number 2167 found
df1 row number 2169 found
df1 row number 2170 found
df1 row number 2171 found
df1 row number 2173 found
df1 row number 2176 found
df1 row number 2177 found
df1 row number 2178 found
df1 row number 2179 found
df1 row number 2180 found
df1 row number 2181 found
df1 row number 2182 found
df1 row number 2184 found
df1 row number 2185 found
df1 row number 2186 found
df1 row number 2187 found
df1 row number 2188 found
df1 row number 2189 found
df1 row number 2190 found
df1 row number 2192 found
df1 row number 2193 found
df1 row number 2194 found
df1 row number 2195 found
df1 row number 2196 found
df1 row number 2197 found
df1 row number 2198 found
df1 row number 2199 found
df1 row number 2200 found
df1 row number 2201 found
df1 row number 2202 found
df1 row number 2203 found
df1 row number 2204 found
df1 row number 2205 found
df1 row number 2206 found
df1 row number 2207 found
df1 row number 2208 found
df1 row number 2209 found
df1 row number 2210 found
df1 row number 2211 found
df1 row number 2213 found
df1 row number 2214 found
df1 row number 2215 found
df1 row number 2216 found
df1 row number 2218 found
df1 row number 2219 found
df1 row number 2220 found
df1 row number 2221 found
df1 row number 2222 found
df1 row number 2223 found
df1 row number 2224 found
df1 row number 2225 found
df1 row number 2226 found
df1 row number 2227 found
df1 row number 2228 found
df1 row number 2229 found
df1 row number 2230 found
df1 row number 2231 found
df1 row number 2232 found
df1 row number 2233 found
df1 row number 2235 found
df1 row number 2236 found
df1 row number 2237 found
df1 row number 2238 found
df1 row number 2239 found
df1 row number 2241 found
df1 row number 2242 found
df1 row number 2243 found
df1 row number 2244 found
df1 row number 2245 found
df1 row number 2246 found
df1 row number 2247 found
df1 row number 2248 found
df1 row number 2249 found
df1 row number 2250 found
df1 row number 2251 found
df1 row number 2252 found
df1 row number 2253 found
df1 row number 2254 found
df1 row number 2255 found
df1 row number 2256 found
df1 row number 2257 found
df1 row number 2258 found
df1 row number 2259 found
df1 row number 2260 found
df1 row number 2261 found
df1 row number 2262 found
df1 row number 2264 found
df1 row number 2265 found
df1 row number 2266 found
df1 row number 2267 found
df1 row number 2268 found
df1 row number 2269 found
df1 row number 4937 found
df1 row number 4938 found
df1 row number 4939 found
df1 row number 4940 found
df1 row number 4941 found
df1 row number 4942 found
df1 row number 4943 found
df1 row number 4944 found
df1 row number 4945 found
df1 row number 4946 found
df1 row number 4947 found
df1 row number 4948 found
df1 row number 4949 found
df1 row number 4950 found
df1 row number 4951 found
df1 row number 4952 found
df1 row number 4953 found
df1 row number 4954 found
df1 row number 4955 found
df1 row number 4956 found
df1 row number 4957 found
df1 row number 4958 found
df1 row number 4959 found
df1 row number 4960 found
df1 row number 4961 found
df1 row number 4962 found
df1 row number 4963 found
df1 row number 4964 found
df1 row number 4965 found
df1 row number 4966 found
df1 row number 4967 found
df1 row number 4968 found
df1 row number 4969 found
df1 row number 4970 found
df1 row number 4971 found
df1 row number 4972 found
df1 row number 4973 found
df1 row number 4974 found
df1 row number 4975 found
df1 row number 4976 found
df1 row number 4977 found
df1 row number 4978 found
df1 row number 4979 found
df1 row number 4980 found
df1 row number 4981 found
df1 row number 4982 found
df1 row number 4983 found
df1 row number 4984 found
df1 row number 4985 found
df1 row number 4986 found
df1 row number 4987 found
df1 row number 4988 found
df1 row number 4989 found
df1 row number 4990 found
df1 row number 4991 found
df1 row number 4992 found
df1 row number 4993 found
df1 row number 4994 found
df1 row number 4995 found
df1 row number 4996 found
df1 row number 4997 found
df1 row number 4998 found
df1 row number 4999 found
df1 row number 5001 found
df1 row number 5002 found
df1 row number 5003 found
df1 row number 5004 found
df1 row number 5005 found
df1 row number 5006 found
df1 row number 5007 found
df1 row number 5008 found
df1 row number 5009 found
df1 row number 5010 found
df1 row number 5011 found
df1 row number 5012 found
df1 row number 5013 found
df1 row number 5014 found
df1 row number 5015 found
df1 row number 5016 found
df1 row number 5017 found
df1 row number 5020 found
df1 row number 5021 found
df1 row number 5022 found
df1 row number 5023 found
df1 row number 5024 found
df1 row number 5025 found
df1 row number 5026 found
df1 row number 5027 found
df1 row number 5028 found
df1 row number 5029 found
df1 row number 5030 found
df1 row number 5031 found
df1 row number 5032 found
df1 row number 5033 found
df1 row number 5034 found
df1 row number 5035 found
df1 row number 5036 found
df1 row number 5037 found
df1 row number 5039 found
df1 row number 5040 found
df1 row number 5041 found
df1 row number 5042 found
df1 row number 5043 found
df1 row number 5044 found
df1 row number 5045 found
df1 row number 5046 found
df1 row number 5047 found
df1 row number 5048 found
df1 row number 5049 found
df1 row number 5050 found
df1 row number 5051 found
df1 row number 5052 found
df1 row number 5054 found
df1 row number 5055 found
df1 row number 5056 found
df1 row number 5057 found
df1 row number 5058 found
df1 row number 5059 found
df1 row number 5060 found
df1 row number 5061 found
df1 row number 5062 found
df1 row number 5063 found
df1 row number 5064 found
df1 row number 5065 found
df1 row number 5066 found
df1 row number 5067 found
df1 row number 5068 found
df1 row number 5069 found
df1 row number 5070 found
df1 row number 5071 found
df1 row number 5072 found
df1 row number 5073 found
df1 row number 5074 found
df1 row number 5075 found
df1 row number 5076 found
df1 row number 5077 found
df1 row number 5078 found
df1 row number 5079 found
df1 row number 5080 found
df1 row number 5081 found
df1 row number 5082 found
df1 row number 5083 found
df1 row number 5084 found
df1 row number 5085 found
df1 row number 5086 found
df1 row number 5087 found
df1 row number 5088 found
df1 row number 5089 found
df1 row number 5090 found
df1 row number 5091 found
df1 row number 5092 found
df1 row number 5093 found
df1 row number 5094 found
df1 row number 5095 found
df1 row number 5097 found
df1 row number 5098 found
df1 row number 5099 found
df1 row number 5100 found
df1 row number 5101 found
df1 row number 5102 found
df1 row number 5103 found
df1 row number 5104 found
df1 row number 5105 found
df1 row number 5106 found
df1 row number 5107 found
df1 row number 5108 found
df1 row number 5109 found
df1 row number 5110 found
df1 row number 5111 found
df1 row number 5112 found
df1 row number 5113 found
df1 row number 5114 found
df1 row number 5115 found
df1 row number 5116 found
df1 row number 5117 found
df1 row number 5118 found
df1 row number 5119 found
df1 row number 5120 found
df1 row number 5121 found
df1 row number 5122 found
df1 row number 5123 found
df1 row number 5124 found
df1 row number 5125 found
df1 row number 5126 found
df1 row number 5127 found
df1 row number 5128 found
df1 row number 5129 found
df1 row number 5130 found
df1 row number 5131 found
df1 row number 5132 found
df1 row number 5133 found
df1 row number 5134 found
df1 row number 5135 found
df1 row number 5136 found
df1 row number 5137 found
df1 row number 5138 found
df1 row number 5139 found
df1 row number 5140 found
df1 row number 5141 found
df1 row number 5142 found
df1 row number 5143 found
df1 row number 5144 found
df1 row number 5145 found
df1 row number 5146 found
df1 row number 5147 found
df1 row number 5148 found
df1 row number 5149 found
df1 row number 5150 found
df1 row number 5151 found
df1 row number 5152 found
df1 row number 5153 found
df1 row number 5154 found
df1 row number 5155 found
df1 row number 5156 found
df1 row number 5157 found
df1 row number 5158 found
df1 row number 5159 found
df1 row number 5160 found
df1 row number 5161 found
df1 row number 5162 found
df1 row number 5163 found
df1 row number 5164 found
df1 row number 5165 found
df1 row number 5166 found
df1 row number 5167 found
df1 row number 5168 found
df1 row number 5169 found
df1 row number 5170 found
df1 row number 5172 found
df1 row number 5174 found
df1 row number 5175 found
df1 row number 5176 found
df1 row number 5177 found
df1 row number 5178 found
df1 row number 5179 found
df1 row number 5180 found
df1 row number 5181 found
df1 row number 5182 found
df1 row number 5183 found
df1 row number 5184 found
df1 row number 5185 found
df1 row number 5186 found
df1 row number 5187 found
df1 row number 5188 found
df1 row number 5189 found
df1 row number 5191 found
df1 row number 5192 found
df1 row number 5193 found
df1 row number 5194 found
df1 row number 5195 found
df1 row number 5196 found
df1 row number 5197 found
df1 row number 5198 found
df1 row number 5199 found
df1 row number 5200 found
df1 row number 5201 found
df1 row number 5202 found
df1 row number 5203 found
df1 row number 5204 found
df1 row number 5205 found
df1 row number 5206 found
df1 row number 5207 found
df1 row number 5208 found
df1 row number 5209 found
df1 row number 5210 found
df1 row number 5211 found
df1 row number 5212 found
df1 row number 5213 found
df1 row number 5214 found
df1 row number 5215 found
df1 row number 5216 found
df1 row number 5217 found
df1 row number 5218 found
df1 row number 5219 found
df1 row number 5220 found
df1 row number 5221 found
df1 row number 5222 found
df1 row number 5223 found
df1 row number 5224 found
df1 row number 5225 found
df1 row number 5226 found
df1 row number 5227 found
df1 row number 5228 found
df1 row number 5229 found
df1 row number 5230 found
df1 row number 5231 found
df1 row number 5232 found
df1 row number 5233 found
df1 row number 5234 found
df1 row number 5235 found
df1 row number 5236 found
df1 row number 5237 found
df1 row number 5238 found
df1 row number 5239 found
df1 row number 5240 found
df1 row number 5241 found
df1 row number 5242 found
df1 row number 5243 found
df1 row number 5244 found
df1 row number 5245 found
df1 row number 5246 found
df1 row number 5247 found
df1 row number 5248 found
df1 row number 5249 found
df1 row number 5250 found
df1 row number 5251 found
df1 row number 5252 found
df1 row number 5253 found
df1 row number 5254 found
df1 row number 5255 found
df1 row number 5256 found
df1 row number 5258 found
df1 row number 5259 found
df1 row number 5260 found
df1 row number 5261 found
df1 row number 5262 found
df1 row number 5263 found
df1 row number 5264 found
df1 row number 5265 found
df1 row number 5266 found
df1 row number 5267 found
df1 row number 5268 found
df1 row number 5269 found
df1 row number 5270 found
df1 row number 5271 found
df1 row number 5272 found
df1 row number 5273 found
df1 row number 5274 found
df1 row number 5275 found
df1 row number 5277 found
df1 row number 5278 found
df1 row number 5279 found
df1 row number 5280 found
df1 row number 5281 found
df1 row number 5283 found
df1 row number 5284 found
df1 row number 5285 found
df1 row number 5286 found
df1 row number 5287 found
df1 row number 5288 found
df1 row number 5289 found
df1 row number 5290 found
df1 row number 5291 found
df1 row number 5292 found
df1 row number 5293 found
df1 row number 5294 found
df1 row number 5295 found
df1 row number 5296 found
df1 row number 5297 found
df1 row number 5298 found
df1 row number 5299 found
df1 row number 5300 found
df1 row number 5301 found
df1 row number 5302 found
df1 row number 5303 found
df1 row number 5304 found
df1 row number 5305 found
df1 row number 5306 found
df1 row number 5307 found
df1 row number 5308 found
df1 row number 5309 found
df1 row number 5310 found
df1 row number 5311 found
df1 row number 5312 found
df1 row number 5313 found
df1 row number 5314 found
df1 row number 5315 found
df1 row number 5316 found
df1 row number 5318 found
df1 row number 5319 found
df1 row number 5320 found
df1 row number 5321 found
df1 row number 5322 found
df1 row number 5323 found
df1 row number 5324 found
df1 row number 5325 found
df1 row number 5326 found
df1 row number 5327 found
df1 row number 5328 found
df1 row number 5329 found
df1 row number 5330 found
df1 row number 5331 found
df1 row number 5332 found
df1 row number 5333 found
df1 row number 5334 found
df1 row number 5335 found
df1 row number 5336 found
df1 row number 5337 found
df1 row number 5338 found
df1 row number 5339 found
df1 row number 5340 found
df1 row number 5341 found
df1 row number 5342 found
df1 row number 5343 found
df1 row number 5344 found
df1 row number 5345 found
df1 row number 5346 found
df1 row number 5347 found
df1 row number 5348 found
df1 row number 5349 found
df1 row number 5350 found
df1 row number 5351 found
df1 row number 5352 found
df1 row number 5353 found
df1 row number 5354 found
df1 row number 5355 found
df1 row number 5356 found
df1 row number 5357 found
df1 row number 5358 found
df1 row number 5359 found
df1 row number 5360 found
df1 row number 5361 found
df1 row number 5362 found
df1 row number 5363 found
df1 row number 5364 found
df1 row number 5365 found
df1 row number 5366 found
df1 row number 5367 found
df1 row number 5368 found
df1 row number 5369 found
df1 row number 5370 found
df1 row number 5371 found
df1 row number 5372 found
df1 row number 5373 found
df1 row number 5374 found
df1 row number 5375 found
df1 row number 5376 found
df1 row number 5377 found
df1 row number 5378 found
df1 row number 5379 found
df1 row number 5380 found
df1 row number 5381 found
df1 row number 5382 found
df1 row number 5383 found
df1 row number 5384 found
df1 row number 5385 found
df1 row number 5386 found
df1 row number 5387 found
df1 row number 5388 found
df1 row number 5389 found
df1 row number 5390 found
df1 row number 5391 found
df1 row number 5392 found
df1 row number 5393 found
df1 row number 5394 found
df1 row number 5395 found
df1 row number 5396 found
df1 row number 5397 found
df1 row number 5399 found
df1 row number 5400 found
df1 row number 5401 found
df1 row number 5402 found
df1 row number 5403 found
df1 row number 5404 found
df1 row number 5405 found
df1 row number 5406 found
df1 row number 5407 found
df1 row number 5408 found
df1 row number 5409 found
df1 row number 5410 found
df1 row number 5411 found
df1 row number 5413 found
df1 row number 5414 found
df1 row number 5416 found
df1 row number 5417 found
df1 row number 5418 found
df1 row number 5419 found
df1 row number 5420 found
df1 row number 5421 found
df1 row number 5422 found
df1 row number 5423 found
df1 row number 5424 found
df1 row number 5425 found
df1 row number 5426 found
df1 row number 5427 found
df1 row number 5428 found
df1 row number 5429 found
df1 row number 5430 found
df1 row number 5431 found
df1 row number 5432 found
df1 row number 5433 found
df1 row number 5434 found
df1 row number 5435 found
df1 row number 5436 found
df1 row number 5437 found
df1 row number 5438 found
df1 row number 5439 found
df1 row number 5440 found
df1 row number 5441 found
df1 row number 5442 found
df1 row number 5443 found
df1 row number 5444 found
df1 row number 5445 found
df1 row number 5446 found
df1 row number 5447 found
df1 row number 5449 found
df1 row number 5450 found
df1 row number 5451 found
df1 row number 5452 found
df1 row number 5453 found
df1 row number 5454 found
df1 row number 5455 found
df1 row number 5456 found
df1 row number 5457 found
df1 row number 5458 found
df1 row number 5459 found
df1 row number 5460 found
df1 row number 5461 found
df1 row number 5462 found
df1 row number 5463 found
df1 row number 5464 found
df1 row number 5465 found
df1 row number 5466 found
df1 row number 5467 found
df1 row number 5468 found
df1 row number 5469 found
df1 row number 5470 found
df1 row number 5471 found
df1 row number 5472 found
df1 row number 5473 found
df1 row number 5474 found
df1 row number 5475 found
df1 row number 5476 found
df1 row number 5477 found
df1 row number 5478 found
df1 row number 5479 found
df1 row number 5480 found
df1 row number 5481 found
df1 row number 5482 found
df1 row number 5483 found
df1 row number 5484 found
df1 row number 5485 found
df1 row number 5486 found
df1 row number 5487 found
df1 row number 5488 found
df1 row number 5489 found
df1 row number 5490 found
df1 row number 5491 found
df1 row number 5492 found
df1 row number 5493 found
df1 row number 5494 found
df1 row number 5495 found
df1 row number 5496 found
df1 row number 5497 found
df1 row number 5498 found
df1 row number 5499 found
df1 row number 5500 found
df1 row number 5501 found
df1 row number 5502 found
df1 row number 5503 found
df1 row number 5504 found
df1 row number 5505 found
df1 row number 5506 found
df1 row number 5507 found
df1 row number 5508 found
df1 row number 5509 found
df1 row number 5510 found
df1 row number 5511 found
df1 row number 5512 found
df1 row number 5513 found
df1 row number 5514 found
df1 row number 5515 found
df1 row number 5516 found
df1 row number 5517 found
df1 row number 5518 found
df1 row number 5519 found
df1 row number 5520 found
df1 row number 5521 found
df1 row number 5522 found
df1 row number 5523 found
df1 row number 5524 found
df1 row number 5525 found
df1 row number 5526 found
df1 row number 5527 found
df1 row number 5528 found
df1 row number 5529 found
df1 row number 5530 found
df1 row number 5531 found
df1 row number 5532 found
df1 row number 5533 found
df1 row number 5534 found
df1 row number 5535 found
df1 row number 5536 found
df1 row number 5537 found
df1 row number 5538 found
df1 row number 5539 found
df1 row number 5540 found
df1 row number 5541 found
df1 row number 5542 found
df1 row number 5543 found
df1 row number 5544 found

In [ ]:
#output
df_result.drop(['OFFS'],axis=1,inplace=True)
df_result.columns = ['STA', 'DT', 'C1', 'C2', 'IDX', 'QUAL', 'RES [ms]', 'WT', 'OFFS']
df_result.to_csv(path+Path(res_before_fname).stem+'_filter_all.res',sep='\t',index=None)