In [1]:
'''
Coding: PYTHON UTF-8
Created On: 2023-07-09 18:51:50
Author: Putu Hendra Widyadharma
=== compare .res before relocation and after relocation to have same event pairs
'''

'\nCoding: PYTHON UTF-8\nCreated On: 2023-07-09 18:51:50\nAuthor: Putu Hendra Widyadharma\n=== compare .res before relocation and after relocation to have same event pairs\n'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from localfunction import *
from pathlib import Path

In [3]:
path = "G:\\My Drive\\IUGG Seminar\\data\\data_poster\\reloc_ttdistfilter\\tes-250\\"
res_before_fname = "hypoDD_before.res"
res_after_fname = "hypoDD.res"

In [4]:
def data(fname):
	try:
		file = open(path+fname,'r')
		baris = file.readlines()
		for i in range(len(baris)):
			baris[i]=baris[i].split()
		file.close()


		df = pd.DataFrame(baris, columns = baris[0])
		df.drop(0, inplace = True)
		df.reset_index(drop = True, inplace=True)

		# df = df[df['C1'] == df['C2']]
		df = df[df['RES'] != '************']
		df['RES'] = pd.to_numeric(df['RES'])
		df['RES'] = df['RES'].div(1000)

		#df = df[df['RES'] < 15]
		print("read file success")
		return (df)
	except:
		print("file could not be loaded, return zero dataframe")
		return(pd.DataFrame([]))

In [5]:
print("==read before")
df1 = data(res_before_fname) # df to be compared
print("==read after")
df2 = data(res_after_fname)

df_result = pd.DataFrame(columns=df1.columns)
print("== dataframe output created")

==read before
read file success
==read after
read file success
== dataframe output created

In [22]:
df_result = pd.DataFrame(columns=df1.columns)
print("== dataframe output created")

== dataframe output created

In [9]:
df1 = df1[:11]
df2 = df2[:11]

In [23]:
# compare
for i, row1 in df1.iterrows():
    for j, row2 in df2.iterrows():
        if ((row1['STA'] == row2['STA']) and 
            (row1['C1'] == row2['C1']) and 
            (row1['C2'] == row2['C2']) and
            (row1['IDX'] == row2['IDX'])):
            print(f"row1 number {i} not dropped")
            df_result = pd.concat([df_result,row1.to_frame().T],ignore_index=True)
            break
        else:
            pass

row1 number 0 not dropped
row1 number 1 not dropped
row1 number 2 not dropped
row1 number 4 not dropped
row1 number 5 not dropped
row1 number 6 not dropped
row1 number 7 not dropped
row1 number 8 not dropped
row1 number 9 not dropped
row1 number 10 not dropped

In [29]:
df_result

    STA         DT C1 C2 IDX    QUAL  RES [ms]        WT    OFFS
0  BM94  1.1100001  1  2   3  1.0000   0.23409  1.000000  5577.1
1  BM94  1.7100000  1  2   4  1.0000  0.217792  0.500000  5577.1
2  BM92  1.6900001  1  2   3  1.0000  0.701947  1.000000  5577.1
3  BM95  0.6900001  1  2   4  1.0000 -0.786863  0.500000  5577.1
4  BM95  0.8900001  1  2   3  1.0000   0.02296  1.000000  5577.1
5  BM96  0.9500000  1  2   3  1.0000  0.235039  1.000000  5577.1
6  BM96  0.8099999  1  2   4  1.0000 -0.403765  0.500000  5577.1
7  SCJM  0.4700003  1  2   4  1.0000 -0.415162  0.500000  5577.1
8  SCJM  0.7199998  1  2   3  1.0000  0.194983  1.000000  5577.1
9  CBJI  0.1600003  1  2   3  1.0000 -0.276385  1.000000  5577.1

In [30]:
#output
df_result.drop(['OFFS'],axis=1,inplace=True)
df_result.columns = ['STA', 'DT', 'C1', 'C2', 'IDX', 'QUAL', 'RES [ms]', 'WT', 'OFFS']
df_result.to_csv(path+Path(res_before_fname).stem+'_filter.res',sep='\t',index=None)