In [1]:
'''
Coding: PYTHON UTF-8
Created On: 2023-05-02 14:53:08
Author: Putu Hendra Widyadharma
=== update pha with .reloc parameter
'''

'\nCoding: PYTHON UTF-8\nCreated On: 2023-05-02 14:53:08\nAuthor: Putu Hendra Widyadharma\n=== update pha with .reloc parameter\n'

In [2]:
import numpy as np
import pandas as pd
from localfunction import *
from tqdm import trange

In [5]:
path = "G:\\My Drive\\Tomography\\070623\\"
fname = "phase_sul_2022.dat"

In [6]:
df = readabsolute(path+fname)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,#,2018.0,12.0,30,21,51,20.00,1.0400,126.1800,10,3.98,2,0,0.840,1
1,TNTI,21.3,0.1,P,,,,,,,,,,,
2,TMSI,23.1,0.1,P,,,,,,,,,,,
3,TMSI,39.8,0.1,S,,,,,,,,,,,
4,MNI,25.2,0.1,P,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321168,BUKI,37.4,1.0,P,,,,,,,,,,,
321169,BUKI,65.8,1.0,S,,,,,,,,,,,
321170,LUWI,42.0,1.0,P,,,,,,,,,,,
321171,LUWI,75.0,1.0,S,,,,,,,,,,,
321172,PBCI,49.0,1.0,P,,,,,,,,,,,

In [12]:
df_header = df[df[0] =="#"]
df_header.loc[:,7:10]

             7         8    9     10
0        1.0400  126.1800   10  3.98
28       0.2800  122.0500  172  2.73
40      -5.2400  120.9300   15  3.83
72      -0.0800  121.7300   11  3.40
87       1.7100  126.4000   54  4.96
...         ...       ...  ...   ...
320993   1.5600  124.3600  230  4.10
321039  -1.8800  122.5900   10  3.90
321105  -1.9200  122.6300   10  3.00
321127   1.0500  123.3500   21  3.50
321157   0.8500  120.9400   11  2.60

[13759 rows x 4 columns]

In [16]:
df_header.loc[:,7:10].to_csv(path+"before_selection_"+fname,sep="\t",header=False,index=False)